/BOARD_LONGAN_NANO/
/BOARD_MIN_F103/
/BOARD_VRV100_441/
/BOARD_ENEBO_A/
/BOARD_MIN_F401/
/BOARD_DISCOVERY_F072/
/BOARD_MIBO48_STM32G473/
/BOARD_ARDUINO_DUE/
/BOARD_MIBO20_STM32F030/
/BOARD_MIBO20_STM32F070/
/BOARD_MIBO48_STM32F303/
/BOARD_MIBO64_STM32F405/
/BOARD_MIBO64_STM32F070/
/BOARD_MIBO64_ATSAM4S/
/BOARD_MIBO64_ATSAME5X/
/BOARD_VERTIBO_A/
/BOARD_NUCLEO_F446/
/BOARD_NUCLEO_F746/
/BOARD_NUCLEO_H723/
/BOARD_XPLAINED_SAME70/
/BOARD_DISCOVERY_F746/
/BOARD_MIBO100_ATSAME70/
/BOARD_MIBO100_LPC546XX/
/BOARD_DISCOVERY_F429/
/BOARD_DEV_STM32F407VG/
/BOARD_DEV_STM32F407ZE/
/BOARD_NUCLEO_G474RE/
/BOARD_NUCLEO_G431KB/
/BOARD_MIN_F411/
/BOARD_NUCLEO_H743/
/BOARD_XPRESSO_LPC54608/
/BOARD_RPI_PICO/
/BOARD_ESP32_DEVKIT/
/BOARD_MAIX_BIT/
/BOARD_NANO_ESP32C3/
/BOARD_NODEMCU_ESP32C3/
/BOARD_DISCOVERY_F750/
