/BOARD_MIBO64_ATSAM4S/
/.settings/
/BOARD_MIN_F103/
/BOARD_MIBO64_ATSAME5X/
/BOARD_DEV_STM32F407VG/
/BOARD_MIN_F401/
/BOARD_XPLAINED_SAME70/
/BOARD_ENEBO_A/
/BOARD_NUCLEO_F746/
/BOARD_DISCOVERY_F750/
/BOARD_VRV100_443/