/BOARD_DISCOVERY_F750/
/BOARD_XPLAINED_SAME70/
/BOARD_DEV_STM32F407ZE/
/BOARD_ARDUINO_DUE/
/BOARD_VERTIBO_A/
/BOARD_MIN_F103/
/BOARD_MIN_F401/
/BOARD_MIBO48_STM32G473/
/BOARD_MIBO48_STM32F303/
/BOARD_RPI_PICO/
