/BOARD_VRV100_441/
/BOARD_MIN_F401/
/BOARD_MIBO48_STM32G473/
/BOARD_VERTIBO_A/
/BOARD_ENEBO_A/
/BOARD_XPRESSO_LPC54608/
/BOARD_MIBO64_ATSAM4S/
/BOARD_ARDUINO_DUE/
/BOARD_MIBO64_ATSAME5X/
/BOARD_MIN_F103/
/BOARD_RPI_PICO/
/BOARD_VRV100_104/
/BOARD_VRV100_104_54M/
/BOARD_MAIX_BIT/
/BOARD_DISCOVERY_F750/
/BOARD_NODEMCU_ESP32C3/
/BOARD_WEMOS_C3MINI/
/BOARD_RPI_PICOW/
/BOARD_RPI_PICO2/
